
body{
    font-family: 'Fira Sans', sans-serif;
}.bg-black{
    background-color: black;
}
.custom-font-h3{
    font-size: 40px;
}
.navbar
{
  z-index: 1;
}
.carousel-item img{
    height:569px;
    background-size: cover;
    background-position: center;
}
.home-slider h2{
    font-size: 48px;
    line-height: auto;

}
.home-slider .btn{
    font-size: 28px;
    line-height: normal;
}

.about-section p{
    font-size: 16px;
    line-height: 28px;
}
.service-box{
    overflow: hidden;
    border-radius:15px;
    box-shadow: 0 3px 7px rgba(255,255,255,0.1);
    
}
 .image-container{
    width:100%;
    overflow: hidden;

}

.service-box h4{
    font-size:24px;
}
.image-container img{
    width:100%;
    height:100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.image-container img:hover{
    transform: scale(1.2) rotate(-1deg);
}


/*contact section */

.contact-section{
    background-image: url(../images/black-dslr-camera-with-black-background-1251299.jpg);
    background-repeat: no-repeat;
  
    background-size: cover;
  
   
}

.contact-section h3{
    color: white;
}
.contact-box .form-control{
    height:50px;

}
.contact-box textarea.form-control{
    height:100px;
}

.address-box p{
    font-size: 16px;
    line-height: 28px;


}




@media(max-width:991px){
    #focusSlider .carousel-caption h2{
        font-size:36px;
    }
}